<div class="blog-post">
  <header class="blog-post-header">
    {{ with .Lastmod }}
      <span class="blog-post-date">{{ .Format "2006年01月02日" }}に更新</span>
    {{ end }}
    <h1 class="blog-post-title">{{ .Title }}</h1>

    <div class="blog-post-meta">
      {{ with .GetTerms "tags" }}
        <div class="blog-post-tags">
          {{ range . }}
            <a class="badge badge-light" href="{{ .RelPermalink }}">
              {{ .LinkTitle }}
            </a>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </header>

  {{ if .Content }}
    <div class="blog-post-content">{{ .Content }}</div>
  {{ end }}

  <div class="blog-post-comment">
    {{ template "_internal/disqus.html" . }}
  </div>
</div>
