<header class="blog-post-header">
  {{ with .Lastmod }}
    <span class="blog-post-header__date">{{ .Format "2006年01月02日" }}に更新</span>
  {{ end }}
  <h1 class="blog-post-header__title">{{ .Title }}</h1>

  <div class="blog-post-header__meta">
    {{ with .GetTerms "tags" }}
      <div class="blog-post-header__tags">
        {{ range . }}
          <a class="badge badge-light" href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        {{ end }}
      </div>
    {{ end }}
  </div>
</header>
