{{ with $.Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav class="blog-pagination">
      <a
        class="btn btn-outline-secondary{{ if not .HasPrev }} disabled{{ end }}"
        {{ if .HasPrev }}
          href="{{ .Prev.URL }}"
          title="前のページ"
        {{ else }}
          aria-disabled="true"
        {{ end }}
      >
        <span class="bi-arrow-left"></span>
      </a>

      <div>{{ .PageNumber }} / {{ .TotalPages }} ページ</div>

      <a
        class="btn btn-outline-secondary{{ if not .HasNext }} disabled{{ end }}"
        {{ if .HasNext }}
          href="{{ .Next.URL }}"
          title="次のページ"
        {{ else }}
          aria-disabled="true"
        {{ end }}
      >
        <span class="bi-arrow-right"></span>
      </a>
    </nav>
  {{ end }}
{{ end }}
