<header class="header">
  <div class="header__title">
    <a href="{{ relLangURL "" }}">{{ site.Title }}</a>
  </div>

  {{ with site.Params.subtitle }}
    <p class="header__subtitle">{{ . }}</p>
  {{ end }}
</header>
{{ if site.Menus }}
  <nav class="menu">
    {{ $currentPage := . }}
    {{ range site.Menus.main }}
      {{ if .HasChildren }}
        <li
          class="menu__item {{ if $currentPage.HasMenuCurrent "main" . }}menu__item--active{{ end }}"
        >
          <div class="menu-item">
            {{ .Pre }}
            <a href="#" class="menu-item__link">{{ .Name }}</a>
          </div>
        </li>
        <ul>
          {{ range .Children }}
            <li
              class="menu__item {{ if $currentPage.IsMenuCurrent "main" . }}menu__item--active{{ end }}"
            >
              <div class="menu-item">
                <a href="{{ .URL }}" class="menu-item__link">{{ .Name }}</a>
              </div>
            </li>
          {{ end }}
        </ul>
        {{ else }}
        <li
          class="menu__item {{ if $currentPage.IsMenuCurrent "main" . }}menu__item--active{{ end }}"
        >
          <div class="menu-item">
            <span class="menu-item__icon">
              <i class="mdi mdi-open-in-new"></i>
            </span>
            {{ .Pre }}
            <a href="{{ .URL }}" class="menu-item__link">
              <span>{{ .Name }}</span>
            </a>
          </div>
        </li>
      {{ end }}
    {{ end }}
  </nav>
{{ end }}
