.card {
  & + & {
    border-top: 1px solid $border-color-alt;
    margin: $margin-m 0 0;
    padding: $padding-m 0 0;
  }

  > a {
    color: inherit;
    display: block;
    text-decoration: none;
  }

  &__title {
    font-size: $font-size-l;
  }

  &__summary {
    color: #555;
    font-size: $font-size-xs;
    line-height: 1.5em;
    margin: 0.5em 0 0;
  }

  &__date {
    color: #999;
    font-size: $font-size-xxs;
    line-height: 1.5em;
    margin: 0.5em 0 0;
  }
}
