.header {
  background: #148 url("/img/header-bg.png");
  padding: $padding-xl;
  text-align: center;

  // For Retina display
  @media screen and (min-resolution: 2dppx) {
    background-image: url("/img/header-bg@2x.png");
    background-size: 512px 512px;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: bold;

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  &__subtitle {
    color: #ddd;
    font-size: $font-size-xs;
    line-height: 1.5;
    margin: $margin-m 0 0;
  }
}
