.highlight {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin: $margin-l 0;

  pre {
    padding: $padding-xl;
  }

  code {
    @extend %font-code;

    background: transparent;
    color: inherit;
  }
}
