.main {
  background: #fff;
  margin: $margin-xxl auto 0 auto;
  max-width: 1024px;
  padding: $padding-xl;

  %full {
    margin-left: -$padding-xl;
    margin-right: -$padding-xl;
  }

  .highlight {
    @extend %full;
  }
}
