.main {
  background: #fff;
  margin: 2.5rem auto 0 auto;
  max-width: 1024px;
  padding: 2rem;

  %full {
    margin-left: -2rem;
    margin-right: -2rem;
  }

  .highlight {
    @extend %full;
  }
}
