<!doctype html>
<html lang="{{ .Site.Language.Lang }}">
<head>
    {{ partial "docs/html-head" . }}
    {{ partial "docs/inject/head" . }}
</head>
<body>
<header class="book-header">
  <h1><a href="{{ relURL "" }}" class="book-header__brand">よんログ</a></h1>
</header>

<main class="book-container">
  {{ partial "docs/nav" . }}

  <div class="book-page">
    <div class="book-page__body">
        {{ partial "docs/inject/content-before" . }}
        {{ template "main" . }}
        {{ partial "docs/inject/content-after" . }}
    </div>
    <div class="book-page__toc">
        {{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
            {{ template "toc" . }}
        {{ end }}
    </div>
  </div>
</main>

{{ partial "docs/inject/body" . }}
</body>
</html>

{{ define "menu" }}
    {{ partial "docs/menu" . }}
{{ end }}

{{ define "main" }}
  <article class="markdown">
      {{- .Content -}}
  </article>
{{ end }}

{{ define "toc" }}{{ end }}
