{{ define "main" }}
  <article class="book-post">
    <header class="book-post__header">
        {{ partial "docs/post-meta.html" (dict "Level" 1 "Post" .) }}
    </header>

    <section class="book-post__content">
      <div class="markdown">
          {{- .Content -}}
      </div>
    </section>
  </article>

  <div class="mb-3 mt-16">
      {{ partial "docs/divider.html" }}
  </div>

  {{ partial "docs/single-paging.html" . }}

  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
    <div class="mt-8">
        {{ partial "docs/related-posts.html" $related }}
    </div>
  {{ end }}
{{ end }}

{{ define "toc" }}
  <div class="book-toc">
    <div class="book-toc__body">
        {{ partial "docs/toc" . }}
    </div>
  </div>
{{ end }}
