.book-hint {
  @apply border border-l-4 flex items-center my-4 pl-4 pr-6 py-3 rounded-lg shadow-sm;

  &--info {
    @apply border-l-sky-500;
    --book-hint-icon-color: theme('colors.sky.600');
  }

  &--warn {
    @apply border-l-amber-500;
    --book-hint-icon-color: theme('colors.amber.600');
  }

  &--danger {
    @apply border-l-rose-500;
    --book-hint-icon-color: theme('colors.rose.600');
  }

  &__icon {
    @apply mr-6;
    color: var(--book-hint-icon-color);
  }

  &__content {
    @apply flex-1;
  }
}