.book-page {
  @apply flex;

  &__body {
    @apply flex-auto ml-[var(--nav-width)] overflow-auto px-8 sm:px-12 py-8;
  }

  &__toc {
    @apply basis-[var(--book-toc-w)] hidden xl:block shrink-0;

    @at-root :root {
      --book-toc-w: 0px;

      @screen xl {
        --book-toc-w: 19.5rem;
      }
    }
  }
}
