.blog-main {
  background: $white;
  padding: ($spacer * 2) map-get($spacers, 3);

  @include media-breakpoint-up(sm) {
    padding: $spacer * 2;
  }

  &__title {
    @include font-size($h5-font-size);

    font-family: $font-family-serif;
    font-weight: bold;
  }
}
