.blog-post__content {
  margin: map-get($spacers, 5) 0 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-family-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: 1.5em 0 1.75rem;
  }

  p {
    margin: 0;
    line-height: 1.9;

    & + p {
      margin-top: map-get($spacers, 4);
    }
  }

  blockquote {
    @extend .blockquote;
    @include font-size($font-size-base);

    border-left: 3px solid #000;
    margin: map-get($spacers, 4) 0;
    padding: map-get($spacers, 3) 0 map-get($spacers, 3)
      calc(#{$spacer} * 2 - 3px);
  }

  > blockquote {
    margin-left: $spacer * -2;
    margin-right: $spacer * -2;
    padding-right: $spacer * 2;
  }

  > dl {
    margin: map-get($spacers, 4) 0;
  }

  dl {
    line-height: 1.9;
  }

  dd {
    padding: 0 0 0 ($spacer * 2);
  }

  > ol,
  > ul {
    line-height: 1.9;
    margin: map-get($spacers, 4) 0;
    padding: 0 0 0 1.35rem;

    // stylelint-disable no-descending-specificity
    ol,
    ul {
      padding: 0 0 0 map-get($spacers, 4);
    }
    // stylelint-enable no-descending-specificity
  }

  table {
    @extend .table;

    margin: map-get($spacers, 4) 0;
  }

  > p > img {
    margin: 0 ($spacer * -2);
    width: calc(100% + #{$spacer * 4});
  }

  hr {
    background: $border-color;
    border: 0;
    height: $border-width;
    margin: map-get($spacers, 5) 0;
  }

  .highlight {
    background: $gray-100;
    margin: map-get($spacers, 4) (-$spacer * 2);

    pre {
      background: inherit;
      padding: $spacer * 2;
    }
  }

  .katex-display {
    margin: map-get($spacers, 4) 0;
  }
}
