.blog-post-header {
  &__date {
    @include font-size($font-size-sm);

    color: $gray-600;
    margin: 0 0 map-get($spacers, 4);
  }

  &__title {
    font-family: $font-family-serif;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 map-get($spacers, 3);
  }

  &__tags {
    display: inline-flex;
    flex-wrap: wrap;

    .badge {
      @include font-size($font-size-sm);

      margin: map-get($spacers, 1) 0.5em 0 0;
      padding: map-get($spacers, 1) map-get($spacers, 2);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
