.blog-header {
  background: #148 url("/img/header-bg.png");
  color: $gray-400;
  padding: map-get($spacers, 5) 0;
  text-align: center;

  @media screen and (min-resolution: 2dppx) {
    background-image: url("/img/header-bg@2x.png");
    background-size: 512px 512px;
  }

  &-title {
    @include font-size($h2-font-size);

    font-weight: bold;

    a {
      color: $gray-100;
      text-decoration: none;
    }

    a:hover {
      color: $gray-100;
    }
  }

  &-subtitle {
    margin: map-get($spacers, 3) 0 0;
  }
}
