.blog-post-item {
  > a {
    display: block;
    text-decoration: none;
  }

  &__title {
    @include font-size($font-size-lg);

    font-family: $font-family-serif;
    font-weight: bold;
  }

  &__summary {
    line-height: 1.5;
    margin: map-get($spacers, 2) 0 0;
  }

  &__date {
    @include font-size($font-size-sm);

    color: $gray-600;
    margin: map-get($spacers, 2) 0 0;
  }
}
