.blog-sidebar {
  padding: ($spacer * 2) ($spacer * 0.5);

  @supports (position: sticky) {
    $navbar-height: $navbar-padding-y + $nav-link-padding-y + $font-size-base *
      $line-height-base;
    position: sticky;
    top: $navbar-height;
    z-index: $zindex-sticky;
  }

  &-toc {
    @include font-size($font-size-sm);

    line-height: 1.9;

    a {
      text-decoration: none;
    }

    ol,
    ul {
      list-style: none;
    }

    nav > ol,
    nav > ul {
      padding: 0;

      ol,
      ul {
        padding: 0 0 0 map-get($spacers, 3);
      }
    }
  }
}
