.blog-sidebar {
  display: none;
  margin: 0 0 0 map-get($spacers, 3);
  padding: ($spacer * 2) ($spacer * 0.5);

  @include media-breakpoint-up(sm) {
    display: block;
  }

  &__toc {
    @include font-size($font-size-sm);

    line-height: 1.9;

    a {
      text-decoration: none;
    }

    ol,
    ul {
      list-style: none;
    }

    nav > ol,
    nav > ul {
      padding: 0;

      ol,
      ul {
        padding: 0 0 0 map-get($spacers, 3);
      }
    }
  }
}
