.blog-footer {
  background: #000;
  color: $gray-400;
  margin: map-get($spacers, 4) 0 0;
  padding: map-get($spacers, 4) 0;
  text-align: center;

  a {
    color: $gray-100;
  }

  &-heart {
    color: $pink;
  }
}
