/// Bootstrap variables

// Color system

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #248;
$light: $gray-200;
$dark: $black;

// Spacing

$spacer: 1rem;

// Typography

$font-family-serif: Gerogia, "Times New Roman", "Noto Serif", "Noto Serif JP",
  serif;
$font-size-base: 1rem;

// Badges

$badge-border-radius: 0;
$badge-font-weight: normal;

// Blockquotes

$blockquote-font-size: $font-size-base;

// Body

$body-bg: $gray-200;

// Dropdowns

$dropdown-link-hover-bg: $gray-200;

// Grid columns

$grid-gutter-width: $spacer;

// Links

$link-color: #445;
$link-decoration: underline;
$link-hover-color: #aab;
$link-hover-decoration: underline;

// Navs

$navbar-nav-link-padding-x: $spacer * 0.75;
