<details {{ if or (.Get "open") (in .Params "open") }}open{{ end }} class="book-details">
    {{- $summary := cond .IsNamedParams (.Get "title") (.Get 0) -}}
  <summary class="book-details__header">
    <div class="book-details__icon book-details__icon--closed">
        {{ partial "docs/icon.html" (dict "Icon" "chevron-right" "Class" "h-4 w-4")}}
    </div>
    <div class="book-details__icon book-details__icon--opened">
        {{ partial "docs/icon.html" (dict "Icon" "chevron-down" "Class" "h-4 w-4")}}
    </div>
    <div class="book-details__summary">{{ $summary | .Page.RenderString }}</div>
  </summary>
  <div class="book-details__body">
    <div class="markdown-inner">
        {{ .Inner | .Page.RenderString }}
    </div>
  </div>
</details>
