{{- $level := cond .IsNamedParams (.Get "level") (.Get 0) -}}
{{- $defaultIcon := cond (eq $level "info") "information-circle" "exclamation-circle" -}}
{{- $icon := cond .IsNamedParams (.Get "icon") (.Get 1) | default $defaultIcon }}
<div class="book-hint book-hint--{{ $level }}">
  <div class="book-hint__icon">
      {{ partial "docs/icon.html" (dict "Icon" $icon "Class" "h-6 w-6") }}
  </div>
  <div class="book-hint__content">
    <div class="markdown-inner">
        {{ .Inner | .Page.RenderString }}
    </div>
  </div>
</div>