{{- if not (.Page.Scratch.Get "katex") -}}
  <link rel="stylesheet" href="{{ relURL "vendor/katex-0.13.18/katex.min.css" }}"/>
  <script src="{{ relURL "vendor/katex-0.13.18/katex.min.js" }}" async></script>
  {{- $autoRenderJs := resources.Get "js/katex-auto-render.js" | js.Build "katex-auto-render.js" | minify | fingerprint -}}
  <script src="{{ $autoRenderJs.Permalink }}" defer></script>
  {{- .Page.Scratch.Set "katex" true -}}
{{- end -}}

{{- $inner := trim .Inner "\n" -}}
{{- if (in .Params "display") }}
  <div class="js-katex-display{{ with .Get "class" }} {{ . }}{{ end }}">
      {{ $inner }}
  </div>
{{ else -}}
  <span class="js-katex{{ with .Get "class" }} {{ . }}{{ end }}">{{ $inner }}</span>
{{- end -}}