.book-header {
  @apply inset-0 fixed z-30;
}

.book-container {
  @apply 2xl:container flex h-full mx-auto;
}

.book-header + .book-container {
  margin-top: var(--book-header-height);
}

.book-menu {
  @apply hidden;
}

@screen lg {
  .book-menu {
    @apply block w-1/4;
  }
}

.book-menu__body {
  @apply inset-0 sticky z-20;
}

.book-page {
  @apply flex-1;
}

.book-toc {
  @apply hidden;
}

@screen lg {
  .book-toc {
    @apply block w-1/4;
  }
}

.book-toc .body {
  @apply inset-0 px-6 py-8 sticky z-20;
}

.book-header + .book-container .book-menu .body,
.book-header + .book-container .book-toc .body {
  top: var(--book-header-height);
}

.book-page {
  @apply flex-1;
  --book-page-padding-x: 1rem;
  padding: 2rem var(--book-page-padding-x);
}

@screen sm {
  .book-page {
    --book-page-padding-x: 3rem;
  }
}
