.book-menu {
  border-right: $border-width solid $border-color;

  > .body {
    padding: 2rem 1.5rem;
  }
}

.book-menu-section {
  > .title {
    font-family: inherit;
    font-size: inherit;
    font-weight: 700;
  }
}

.book-menu-list {
  @include list-unstyled;

  > .item {
    a {
      color: $gray-600;
      display: block;
      padding: 0.25rem 0;
      text-decoration: none;
    }
    &.active a {
      color: inherit;
      font-weight: bold;
    }

    a:hover {
      color: $link-hover-color;
    }
    &.active a:hover {
      color: inherit;
    }
  }
}
