// {{< hint >}}
.book-hint {
  @include border-radius;
  border: $border-width solid $border-color;
  border-left-width: 4px;
  padding: 1rem 1.5rem;

  &--info {
    border-left-color: $info;
  }

  &--warning {
    border-left-color: $warning;
  }

  &--danger {
    border-left-color: $danger;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

// {{< katex >}}
.katex {
  .cjk_fallback {
    font-size: 1rem;
  }
}