.book-toc #TableOfContents {
  @extend small;
  border-left: 2px solid $border-color;

  > ul {
    padding: 0;
  }

  ul {
    @include list-unstyled;
    margin: 0;
    padding: 0 0 0 1rem;
  }

  li {
    a {
      color: $gray-600;
      display: block;
      padding: 0.25rem 0;
      text-decoration: none;
    }
    a:hover {
      color: $link-hover-color;
    }
  }
}
