{{- if not (.Page.Scratch.Get "katex") -}}
<!-- Include katext only first time -->
<link rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}" />
<script defer src="{{ "katex/katex.min.js" | relURL }}"></script>
{{- $autoRenderJS := resources.Get "auto-render.js" | resources.Minify | resources.Fingerprint -}}
<script defer src="{{ $autoRenderJS.RelPermalink }}" integrity="{{ $autoRenderJS.Data.Integrity }}"></script>
{{- .Page.Scratch.Set "katex" true -}}
{{- end -}}

<span class="js-katex{{ cond (in .Params "display") "-display" "" }}{{ with .Get "class" }} {{ . }}{{ end }}">
  {{- trim .Inner "\n" -}}
</span>
