<!DOCTYPE html>
<html lang="ja">
  {{ partial "head.html" . }}

  <body>
    {{ partial "blog-header.html" . }}

    {{ partial "blog-navbar.html" . }}

    <div class="main">
      <div class="container">
        {{ if .IsPage }}
          <div class="row no-gutters">
            <div class="col-md-9">
              {{ block "main" . }}{{ end }}
            </div>

            <div class="col-md-3">
              {{ partial "blog-sidebar.html" . }}
            </div>
          </div>
          {{ else }}
          {{ block "main" . }}{{ end }}
        {{ end }}
      </div>
    </div>

    {{ partial "blog-footer.html" . }}

    {{ partial "foot.html" . }}
  </body>
</html>
