{{ define "main" }}
  <div class="main">
    <!--_index.md-->
    {{ if not .IsHome }}
      {{ with .Title }}
        <div>
          <heading>{{ . }}</heading>
        </div>
      {{ end }}
      {{ with .Content }}
        <div>
          <article>{{ . }}</article>
        </div>
      {{ end }}
    {{ end }}

    <!-- $paginator -->
    {{ $p := .Pages }}
    {{ if .IsHome }}
      {{ $p = where site.RegularPages "Type" "in" site.Params.mainSections }}
      {{ else if eq .Kind "taxonomy" }}
      {{ $p = $p.ByTitle }}
    {{ end }}
    {{ $paginator := .Paginate $p }}

    <!-- list -->
    {{ range $paginator.Pages }}
      <div class="card">
        <a href="{{ .RelPermalink }}" title="{{ .Title }}">
          <h3 class="card__title">
            {{ .Title }}
          </h3>

          {{ if site.Params.summary }}
            <div class="card__summary">
              {{ .Summary | plainify }}
            </div>
          {{ end }}

          {{ with .Lastmod }}
            <div class="card__date">
              {{ .Format "2006/1/2" }}
            </div>
          {{ end }}
        </a>
      </div>
    {{ end }}

    <!-- pagination -->
    {{ template "_internal/pagination.html" . }}
  </div>
{{ end }}
